@media (max-width: 950px) {
  .nav-mobile {
    max-width: 100vw;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    background-color: var(--primary-color-violet);
    position: fixed;
    transform: translateY(-150%);
    top: 6rem;
    right: 0;
    left: 0;
    transition: 0.4s;
  }
  
  #line-nav-mob {
    border-radius: 20px;
    border-color: #fcfcfc28;
    width: 100%;
    margin: 2rem 0;
  }
  
  .menu-nav-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  .item-menu_nav-mobile {
    width: 100%;
    text-align: center;
  }
  
  .nav-link-mob {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #fcfcfc;
    text-align: center;
  }
  
  .menu-nav-mobile_logs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.9rem;
  }
  
  .nav-button-mobile {
    width: 100%;
  }
  
  #login-button-mob {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 23px;
    font-weight: 600;
    color: #fcfcfc;
    padding: 20px;
    cursor: pointer;
  }
  
  #sing-up-button-mob {
    width: 100%;
    background-color: var(--primary-color-cyan);
    border: none;
    padding: 14px 32px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
  }
  
  /* ---------------- ANIMATE NAV-MOBILE ------------ */
  
  .active-mobile {
    transform: translateY(0);
  }
  
  .closed-toggle span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .closed-toggle span:nth-child(2) {
    transform: rotate(45deg);
  }

  .closed-toggle span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}
